<footer  class="navbar navbar-fixed-bottom main-footer">
    <div class="footer-container">

        <span class="navbar-text pull-left trade-mark">Site is built by Gamme</span>

        <button class="btn navbar-toggle footer-menu-btn"
                data-toggle="collapse"
                data-target=".nav-header-collapse">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse nav-header-collapse">
            <ul class="nav navbar-nav navbar-right footer-menu">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Our team</a></li>
                <li><a href="#">For investors</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
</footer><!-- /end .main-footer -->