<div class="app-container game-list-container">
    <div class="container">
        <div class="game-list">
            <a href="/">
                <figure class="game-list-item">
                    <img src="../img/game-list-pictures/picture-1.jpg"
                         class="item-border-orange"
                         width="153"
                         height="153"
                         alt="Turkey painter"/>
                    <figcaption class="text-orange">Индюк художник</figcaption>
                </figure>
            </a>
            <a href="/">
                <figure class="game-list-item">
                    <img src="../img/game-list-pictures/picture-2.jpg"
                         class="item-border-orange"
                         width="153"
                         height="153"
                         alt="Find chipmunks"/>
                    <figcaption class="text-orange">Найди  бурундуков</figcaption>
                </figure>
            </a>
            <a href="/">
                <figure class="game-list-item">
                    <img src="../img/game-list-pictures/picture-3.jpg"
                         class="item-border-green"
                         width="153"
                         height="153"
                         alt="Count pandas"/>
                    <figcaption class="text-green">Сосчитай панд</figcaption>
                </figure>
            </a>
            <a href="/">
                <figure class="game-list-item">
                    <img src="../img/game-list-pictures/picture-4.jpg"
                         class="item-border-violet"
                         width="153"
                         height="153"
                         alt="Mirror labirynth"/>
                    <figcaption class="text-violate">Зеркальный лабиринт</figcaption>
                </figure>
            </a>
            <a href="/">
                <figure class="game-list-item">
                    <img src="../img/game-list-pictures/picture-5.jpg"
                         class="item-border-green"
                         width="153"
                         height="153"
                         alt="Racoon brothers"/>
                    <figcaption class="text-green">Братья еноты</figcaption>
                </figure>
            </a>
            <a href="/">
                <figure class="game-list-item">
                    <img src="../img/game-list-pictures/picture-6.jpg"
                         class="item-border-violet"
                         width="153"
                         height="153"
                         alt="Twin club"/>
                    <figcaption class="text-violate">Клуб близнецов</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div><!-- / end .game-list-container -->